# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set 
class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
# Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,3,4,3,5}

In [3]:
set_var

{1, 2, 3, 4, 5}

In [4]:
set_names={"Avengers","Captain America","IronMan","Deadpool"}
print(set_names)
type(set_names)

{'Deadpool', 'Captain America', 'Avengers', 'IronMan'}

set

In [5]:
# Inbuilt function in sets
set_var.add("Hulk")
print(set_var)

{1, 2, 3, 4, 5, 'Hulk'}

In [6]:
seta={'rose',"lotus","jasmine","lily"}
setb={'rose',"lotus","jasmine","lily","lavender"}

In [9]:
#Difference 
setb.difference(seta)

{'lavender'}

In [10]:
setb.intersection_update(seta)

In [12]:
setb

{'jasmine', 'lily', 'lotus', 'rose'}

# Dictionaries

A dictionary is acollection which is ordered, changeable and indexed. In Python dictionaries are written with curly braces 
and having keys and values

In [1]:
dict={}

In [2]:
type(dict)

dict

In [3]:
ex={1,2,3,4,5,3}

In [4]:
type(ex)

set

In [5]:
#creating a dictionary
my_dict = {"watch1": "gshock", "watch2": "fossil", "watch3": "dw", "watch4": "titan"}

In [6]:
type(my_dict)

dict

In [8]:
#using for loop
for x in my_dict:
    print(x)

watch1
watch2
watch3
watch4

In [10]:
#using for loop for dictionary keys
for x in my_dict.values():
    print(x)

gshock
fossil
dw
titan

In [11]:
#using for loop for both dictionary keys and values
for x in my_dict.items():
    print(x)

('watch1', 'gshock')
('watch2', 'fossil')
('watch3', 'dw')
('watch4', 'titan')

In [13]:
#adding ietms in dictionaries
my_dict['watch5'] = 'rolex'

In [14]:
my_dict

{'watch1': 'gshock',
 'watch2': 'fossil',
 'watch3': 'dw',
 'watch4': 'titan',
 'watch5': 'rolex'}

In [17]:
#whenever you append with same keys with different values, the previous value will be replaced with new value
my_dict['watch2'] = 'rado'
#watch 2 = fossil is replaced by rado

In [18]:
my_dict

{'watch1': 'gshock',
 'watch2': 'rado',
 'watch3': 'dw',
 'watch4': 'titan',
 'watch5': 'rolex'}

# Nested Dictionary

In [19]:
watch1_model={'gshock':1983}
watch2_model={'rado':1980}
watch3_model={'dw':1988}

watch_type={'watch1':watch1_model,'watch2':watch2_model,'watch3':watch3_model}

In [20]:
print(watch_type)

{'watch1': {'gshock': 1983}, 'watch2': {'rado': 1980}, 'watch3': {'dw': 1988}}

In [21]:
# Accessing the items in the dictionary

print(watch_type['watch1'])

{'gshock': 1983}

In [23]:
print(watch_type['watch1']['gshock'])

1983

# Tuples

In [25]:
#create an empty tuple
my_tup = tuple()

In [26]:
type(my_tup)

tuple

In [28]:
my_tup=("nike","adidas","puma","converse")

In [29]:
my_tup[0]

'nike'

In [30]:
my_tup[2]

'puma'

In [31]:
#the item name cannot be changed in tuple, only the whole tuple can be changed
my_tup[0]='reebok'

TypeError: 'tuple' object does not support item assignment

In [32]:
#count of item
my_tup.count('nike')

1

In [33]:
my_tup.index('puma')

2