# Python - Data Structures and Boolean
- Boolean
- Boolean and logical operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

# Boolean Variables

Boolean values have 2 constant objects - True and False
In numeric constants, they behave like the integers 0(false) and 1(true)
The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value.

In [1]:
False

False

In [3]:
print(False, True)

False True

In [4]:
type(False)

bool

In [30]:
str = "Hellopython1"

In [26]:
print(str.isalnum()) #to check if all char are numbers #press tab to see the in-built functions

True

In [27]:
print(str.isalpha())# to check if all char in the string are alphabetic

False

In [28]:
print(str.isdigit()) #to check if string contains digits

False

In [31]:
print(str.istitle())

True

# Boolean and logical operators

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
True and True

True

In [36]:
True or False

True

In [37]:
False and False

False

In [45]:
str2=' hello hello'
str1 = 'python'

In [47]:
str1.isalpha() or str2.isnum()

True

# Lists

A list is a data structure in Python that is mutable, or changeable, or ordered sequence of elements. Each element or value that
is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having
values between square brackets[]

In [48]:
type([])

list

In [49]:
list_ex = []

In [50]:
type(list_ex)

list

In [51]:
list=['hop', 'skip', 'jump', '1', '2', '3']

In [52]:
type(list)

list

## Append

In [67]:
list.append("hello") # append is used to add elements in a list

In [78]:
list # everytime you run append it keeps on adding in the result as well

['hop',
 'skip',
 'jump',
 '1',
 'fly',
 'fly',
 '2',
 '3',
 'hello',
 'hello',
 'hello',
 'hello',
 ['dive', 'glide'],
 ['dive', 'glide'],
 ['dive', 'glide']]

In [72]:
#Indexing in a list(starts from 0)
list[1]

'skip'

In [73]:
list[:]

['hop',
 'skip',
 'jump',
 '1',
 'fly',
 'fly',
 '2',
 '3',
 'hello',
 'hello',
 'hello',
 'hello']

In [74]:
list[1:5]

['skip', 'jump', '1', 'fly']

In [77]:
list.append(['dive','glide'])#to create nested list

# Insert

In [79]:
list.insert(4,'fly') #to insert in a specific order where 1st parameter is index and 2nd parameter is value

In [80]:
list

['hop',
 'skip',
 'jump',
 '1',
 'fly',
 'fly',
 'fly',
 '2',
 '3',
 'hello',
 'hello',
 'hello',
 'hello',
 ['dive', 'glide'],
 ['dive', 'glide'],
 ['dive', 'glide']]

# Extend Method

In [81]:
listt=[2, 5, 6, 3, 1, 8]

In [82]:
listt.extend([4, 7])

In [83]:
listt

[2, 5, 6, 3, 1, 8, 4, 7]

# Various other operations

In [93]:
lst=[21,32,43,54,1,2]

In [94]:
sum(lst)

153

Pop() Method

In [95]:
lst.pop()#removes the last element of a list

2

In [96]:
lst

[21, 32, 43, 54, 1]

In [97]:
lst.pop(1)#removes the specific element

32

In [98]:
lst

[21, 43, 54, 1]

count()

In [108]:
lst=[1,2,1,2,2,3,4,5]

In [109]:
lst.count(1)

2

In [110]:
len(lst)#counts the total length of list

8

In [112]:
lst.index(1,1,4) # returns the index of first occurence. Start and end index are not necessary parameters

2

Min and Max

In [113]:
min(lst)

1

In [114]:
max(lst)

5

# Sets

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class 
represents the mathematical notion of a set. This is based on data structure known as hash table.

In [ ]:
set_